.mainWrapper {
  display: flex;
  gap: 20px;
}
.wrapper {
    position: fixed;
    width: 100%;
    z-index: 100;
   /* background-image: linear-gradient(to right top, #4f7f89 0%, #3498db 100%);*/
  }
  
.header-nav {
   /* background-color: #34495e;*/
    display: flex;
    align-items: flex-center;
    justify-content: center;
    height: 60px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 0 0 0 10px;
   /* background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    );*/
    box-shadow: 0 0 25px rgb(0 0 0 / 10%), inset 0 0 1px rgb(255 255 255 / 60%);
  }
  
  
.header-nav .button {
   /* background: none;*/
    color: inherit;
    border: none;
    /*padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;*/
    position: relative;
    
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    text-decoration: none;
    /*overflow: hidden;*/
    transition: 0.3s ease-in-out;
    letter-spacing: 3px;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    -webkit-box-reflect: below -3px linear-gradient(transparent, #0005);
    width: 100px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    margin-right: 20px;
}
  
.header-nav .button:hover {
    background-color: #b3eef1;
    color: #050801;
    box-shadow: 0 0 5px #b3eef1, 0 0 25px #b3eef1, 0 0 50px #b3eef1,
      0 0 200px #b3eef1;
    font-weight: bold;
    font-size: 20px;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    border: 1px solid lightgrey;
}

  
.header-nav .button[data-active=true] {
    color: #77338d;
    font-weight: bold;
    font-size: 20px;
}
  
.header-nav .button[data-active=true] span {
    position: absolute;
    display: block;
}
  
  .header-nav .button[data-active=true] span:nth-of-type(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #b3eef1);
    animation: animation1 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  .header-nav button[data-active=true] span:nth-of-type(2) {
    top: -100;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #b3eef1);
    animation: animation2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  .header-nav button[data-active=true] span:nth-of-type(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #b3eef1);
    animation: animation3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  .header-nav button[data-active=true] span:nth-of-type(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #b3eef1);
    animation: animation4 1s linear infinite;
    animation-delay: 0.75s;
  }

  .headingFrame {
    display: grid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    grid-template-columns: max-content auto;
    grid-template-rows: auto max-content;
    background: #333 url(https://images.unsplash.com/photo-1497406703182-f805b8fbba89?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7598c4ba7994f83dab58ae34f1abd023&auto=format&fit=crop&w=1584&q=80) center;
    background-size: cover;
    color: white;
    width: 400px;
    height: 300px;
    padding: 2rem;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid white;
    }
    &:before {
      grid-row: 1 / 2;
      border-right: none;
      border-bottom: none;
    }	
    &:after {
      grid-row: 1 / span 2;
      border-left: none;
    }
    h2 {
      margin: 1rem 1rem -.5rem 0;
      font-family: 'Pragati Narrow', sans-serif;
      font-size: 2rem;
      max-width: 100%;
    }
  }

/*
  $width  : 400px;
$height : 250px;
$primary_color : #3084AC;
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color,10);
$transition_duration:100ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes : 4;

@function border-pipeline ($transition_duration, $pipe) {
    @return $transition_duration*$pipe;
}

@mixin border-animation($dimension, $easing ,$pipe ) 
{
    transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
    -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
}
body {margin:0;padding:0; background:black;}

.box
   width: $width ;
    height: $height ;
    background: $primary_color;
    margin: auto;
    border:$border;
    text-align: center;
    color: #fff; 
    position:relative;
    top: 50px;
    cursor: pointer;
    transition: ($transition_duration*$pipes)+$transition_duration ease;
    &:before {
        position: absolute; 
        width: 0; 
        height:$stroke; 
        content: ''; 
        background: #fff;
        top:-$stroke; 
        left:-$stroke; 
        @include border-animation( width, ease, 3);
    }
    &:after {
        position: absolute; 
        width:$stroke; 
        height:0;
        content: ''; 
        background: #fff; 
        top:-$stroke; 
        right: -$stroke; 
        @include border-animation( height, ease, 2);
    }
    &-inner:after{
        position: absolute; 
        width: 0; 
        height:$stroke; 
        content: ''; 
        background: #fff; 
        bottom:-$stroke; 
        right: -$stroke;
        @include border-animation( width, ease, 1);
    }
    &-inner:before {
        position: absolute; 
        width: $stroke; 
        height:0;content: ''; 
        background: #fff; 
        bottom:-$stroke; 
        left: -$stroke; 
        @include border-animation( height, ease, 0); 
    }
    &:hover{
        border-color:transparent;
        background:darken($primary_color,30);
        &:before{
            width: $pipeline_width; 
            @include border-animation( width, ease, 0); 
        }
        &:after {
            height:$pipeline_height; 
            @include border-animation( height, ease, 1); 
        }
        .box-inner:after {
            width: $pipeline_width; 
            @include border-animation( width, ease, 2);
        }
        .box-inner:before {
            height:$pipeline_height; 
            @include border-animation( height, ease, 3);
        }
    }
}
*/